torch===2.2.0
ezcolorlog
numpy
torchvision
transformers==4.44.0
tokenizers==0.19.1
sentencepiece==0.1.99
shortuuid
accelerate==0.33.0
pydantic<2,>=1
markdown2
scikit-learn==1.2.2
gradio==3.35.2
gradio_client==0.2.9
requests
httpx==0.24.0
uvicorn
fastapi
einops==0.6.1
einops-exts==0.0.4
timm==0.9.16
decord
ninja
protobuf
iopath
num2words
opencv-python
s2wrapper@git+https://github.com/bfshi/scaling_on_scales
easydict
