torch==2.2.0
torchvision==0.17.0

ezcolorlog==0.2.0
numpy==1.26.4

transformers==4.44.0
tokenizers==0.19.1
sentencepiece==0.1.99
accelerate==0.33.0
shortuuid==1.0.13

pydantic>=1.10.0,<2.0
markdown2==2.4.13
scikit-learn==1.2.2

gradio==3.35.2
gradio_client==0.2.9
requests==2.32.3
httpx==0.24.0
fastapi==0.103.2
uvicorn==0.23.2

einops==0.6.1
einops-exts==0.0.4
timm==0.9.16

decord==0.6.0
ninja==1.11.1.1
protobuf==4.25.3
iopath==0.1.10
num2words==0.5.13

opencv-python==4.10.0.84
easydict==1.13
